$gray-50: #f9fafb;
$gray-200: #e5e7eb;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-900: #111827;

$purple-400: #a78bfa;
$purple-500: #8b5cf6;
$purple-700: #6d28d9;

$breakpoint-lg: 1536px;
$breakpoint-md: 1024px;
$breakpoint-sm: 758px;

body {
    a {
        text-decoration: none;
        transition: color 0.3s linear;
        color: $gray-900;
    }

    h2 {
        color: $gray-900;
        text-align: center;
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
    }

    p {
        color: $gray-900;
    }

    .container {
        max-width: calc($breakpoint-lg + (15px * 2));
        margin: 0 auto;
        padding: 0 15px;

        @media screen and (max-width: $breakpoint-lg) {
            max-width: calc($breakpoint-md + (15px * 2));
        }

        @media screen and (max-width: $breakpoint-md) {
            max-width: calc($breakpoint-sm + (15px * 2));
        }
    }

    button {
        cursor: pointer;
    }

    form.form {
        input,
        textarea {
            border: 2px solid $gray-900;
            border-radius: 4px;
            padding: 12px;
            font-size: 16px;
            line-height: 24px;
        }

        input::placeholder,
        textarea::placeholder {
            color: $gray-400;
        }
    }

    .button {
        background-color: $purple-500;
        color: $gray-50;
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        padding: 0 28px;
        height: 44px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s linear;

        &:hover {
            background-color: $purple-400;
        }

        &:active {
            background-color: $purple-700;
        }
    }

    .icon-button {
        background-color: transparent;

        &:hover {
            filter: brightness(1.3);
        }

        &:active {
            filter: brightness(0.7);
        }

        &:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
    }

    .logo {
        display: flex;
        gap: 4px;
        align-items: center;
        &__text {
            font-weight: 900;
            font-size: 24px;
            line-height: 32px;
        }
        &--light {
            color: $gray-50;
        }
    }
}

.header {
    padding: 24px 0;

    &__top {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-md) {
            margin-bottom: 0;
        }
    }

    &__info {
        display: flex;
    }

    &__info-price {
        font-size: 16px;
        font-weight: 500;
        text-align: end;
        line-height: 24px;
        border-right: 1px solid $purple-400;
        padding-right: 12px;

        @media screen and (max-width: $breakpoint-md) {
            display: none;
        }
    }

    &__info-phone {
        padding-left: 12px;
        text-align: end;
        h1 {
            font-size: 36px;
            line-height: 40px;
            font-weight: 900;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 30px;
                line-height: 36px;
            }

            @media screen and (max-width: $breakpoint-md) {
                font-size: 24px;
                line-height: 32px;
            }
        }

        p {
            font-size: 24px;
            line-height: 32px;
            font-weight: 400;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 20px;
                line-height: 28px;
            }

            @media screen and (max-width: $breakpoint-md) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: $breakpoint-md) {
            $border: 2px solid $purple-400;
            margin-top: 12px;
            border-top: $border;
            border-bottom: $border;

            padding: 12px 0;
        }
    }

    &__nav {
        display: flex;
        gap: 24px;
        padding: 10px 0;
    }

    &__nav-link {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        border-bottom: 2px dashed transparent;

        &:hover {
            color: $purple-500;
        }

        &:active {
            border-color: $purple-500;
        }
    }

    &__price-m {
        display: none;

        @media screen and (max-width: $breakpoint-md) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 12px;
            text-align: center;
        }
    }
}

main {
    background-color: $gray-200;
    padding: 72px 0;

    @media screen and (max-width: $breakpoint-lg) {
        padding: 48px 0;
    }
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    @media screen and (max-width: $breakpoint-lg) {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;

        @media screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }

        @media screen and (max-width: $breakpoint-md) {
            grid-template-columns: 1fr;
        }
    }

    &__text {
        h1 {
            font-size: 38px;
            line-height: 40px;
            font-weight: 900;
            margin-bottom: 12px;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 30px;
                line-height: 36px;
            }
        }
        p {
            font-size: 20px;
            line-height: 28px;
            font-weight: 500;
            margin-bottom: 16px;
        }
    }

    &__image {
        border-radius: 16px;
        width: 100%;
        align-self: end;
    }

    &__calculator {
        background-color: $gray-50;
        padding: 24px 0;
        border-radius: 16px;

        h2 {
            font-size: 30px;
            line-height: 36px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 28px;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            max-width: 500px;
            margin: 0 auto;

            input:first-child {
                grid-column: span 2;
            }

            button {
                grid-column: span 2;
            }
        }
    }
}

.benefits {
    margin-top: 72px;

    @media screen and (max-width: $breakpoint-lg) {
        margin-top: 48px;
    }

    &__grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-top: 24px;

        @media screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .benefit-item {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 24px;
        align-self: start;

        @media screen and (max-width: $breakpoint-md) {
            padding: 0;
        }

        &__title {
            font-size: 24px;
            line-height: 32px;
            font-weight: 900;

            @media screen and (max-width: $breakpoint-md) {
                font-size: 20px;
                line-height: 28px;
            }
        }
        &__text {
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;
        }

        &__image {
            @media screen and (max-width: $breakpoint-md) {
                width: 108px;
                height: auto;
            }
        }
    }
}

.guarantee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;

    @media screen and (max-width: $breakpoint-lg) {
        margin-top: 48px;
    }

    h2 {
        margin-bottom: 12px;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 24px;
        text-align: center;
        max-width: 756px;
    }

    &__document-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;

        @media screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.reviews {
    margin-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media screen and (max-width: $breakpoint-lg) {
        padding-bottom: 48px;
        margin-top: 48px;
    }

    h2 {
        margin-bottom: 32px;
    }

    &__slider {
        width: calc(100% - (130px * 2));
        overflow: hidden;

        @media screen and (max-width: $breakpoint-lg) {
            width: calc(100% - (105px * 2));
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            top: 40%;
        }

        .swiper-button-prev {
            left: 22px;

            @media screen and (max-width: $breakpoint-lg) {
                left: 10px;
            }
        }

        .swiper-button-next {
            right: 22px;

            @media screen and (max-width: $breakpoint-lg) {
                right: 10px;
            }
        }
    }

    .review-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: auto;
        border-radius: 16px;
        background-color: $gray-50;
        padding: 32px 43px;

        @media screen and (max-width: $breakpoint-lg) {
            padding: 16px;
        }

        &__text {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        &__name {
            font-size: 24px;
            line-height: 32px;
            color: $gray-500;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 16px;
                line-height: 24px;
            }
        }

        &__quotes {
            position: absolute;
            right: 18px;
            bottom: 8px;
        }
    }
}

.contact {
    background-color: $gray-50;
    border-radius: 16px;
    padding: 64px 0;

    h2 {
        margin-bottom: 32px;
    }

    &__form {
        max-width: 500px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;

        textarea {
            grid-column: span 2;
            height: 150px;
        }

        button {
            grid-column: span 2;
        }
    }
}

.footer {
    background-color: $gray-900;
    padding: 40px 0;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__copy {
        margin-top: 8px;
        color: $gray-50;
        font-size: 12px;
        line-height: 16px;
    }

    &__nav {
        display: flex;
        gap: 24px;
        padding: 10px 0;

        &--m {
            display: none;

            @media screen and (max-width: $breakpoint-md) {
                display: flex;
                justify-content: center;
            }
        }

        &--dt {
            @media screen and (max-width: $breakpoint-md) {
                display: none;
            }
        }
    }

    &__nav-link {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: $gray-50;

        &:hover {
            color: $purple-500;
        }
    }

    &__phone {
        padding-left: 12px;
        text-align: end;
        h1 {
            font-size: 36px;
            line-height: 40px;
            font-weight: 900;
            color: $gray-50;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 30px;
                line-height: 36px;
            }
        }

        p {
            font-size: 24px;
            line-height: 32px;
            font-weight: 300;
            color: $gray-50;

            @media screen and (max-width: $breakpoint-lg) {
                font-size: 20px;
                line-height: 28px;
            }
        }
    }

    &__bottom {
        padding-top: 24px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 10%;

        @media screen and (max-width: $breakpoint-lg) {
            gap: 5%;
        }

        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__bottom-left {
        p {
            color: $gray-500;
            font-size: 12px;
            line-height: 16px;
            opacity: 0.7;
        }
    }

    &__bottom-right {
        p {
            text-wrap: nowrap;
            text-align: end;
            color: $gray-500;
            font-size: 12px;
            line-height: 16px;
        }

        a {
            color: $gray-500;
        }

        @media screen and (max-width: $breakpoint-md) {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 8px;
        }
    }
}
